/home/k_ammade/Projects/QuebecCPT/CPT_scratch/commentaires_depotoir.txt
/home/k_ammade/Projects/QuebecCPT/CPT_scratch/quebec_french_llama_3.2_3b/
/home/k_ammade/Projects/QuebecCPT/CPT_scratch/quebec_croissant_chat_23M/
/home/k_ammade/Projects/QuebecCPT/CPT_scratch/quebec_croissant/
/home/k_ammade/Projects/QuebecCPT/CPT_scratch/66M_data/
/home/k_ammade/Projects/QuebecCPT/CPT_scratch/23M_data/